<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burgers!</title>
    <!-- <link rel="stylesheet" href="/assets/css/reset.css" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid|Prompt:400,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
  </head>
  <body>
    <main id="mainContainer">
      <div id="titleContainer">
      </div>
      <section id="bodyContainer">
         <!-- Injecting the body into the main html page -->
       {{{body}}} 
      </section>  
    </main>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>
  </body>
</html>